<ul id="{{ id }}_output" class="gallery" data-value="{{ uuids|join(',')|default('') }}">
  {% for file in files is null ? [] : (files is iterable ? files : [files]) %}
    <li>
      {% if file.extension in ['jpg', 'jpeg', 'png', 'svg', 'webp'] %}
        {% include '@ContaoCore/Image/Studio/figure.html.twig' with {figure: createContaoImageStudioFigureBuilder(file)
          .setSize([100, 70, 'crop'])
          .build()} %}
      {% else %}
        {{ file.name }}
      {% endif %}
    </li>
  {% endfor %}
</ul>